# Municipality Contracts Audit
**Project:** Portfolio Data Analyst Project  
**Author:** Shivan Maharaj  
**Date:** 2025/10/03  
**Objective:** Clean and transform data for Power BI visualization.

## Table of Contents
1. Import Libraries
2. Load Dataset
3. Data Cleaning
4. Export Cleaned Data for Power BI

# 1. Import Libraries

In [1]:
import pandas as pd

import matplotlib.pyplot as plt

import matplotlib.ticker as mtick

import matplotlib.pyplot as plt

import matplotlib.dates as mdates

import matplotlib.cm as cm

import numpy as np

# Imports the various libraries and assigns them their corresponding aliases.

# 2. Import Dataset

In [7]:
Contracts = pd.read_csv(r"C:\Users\Student\Desktop\Shivan\Portfolio Projects\Project 2 - Municipality Risk Assessment\Data\Clean Data\Municipal Contracts Clean Set.csv", sep = ";")
# Imports the Contracts CSV.

# 3. Data Cleaning and Transformation

In [9]:
Contracts.head()
# Shows me the first 10 rows of the Contracts table.

,contract_id,department,vendor,approved_budget,contract_value,deviation_flag,mbd_submitted,project_phase,status,risk_score,irregular_flag,irregular_amount
0,C0001,Water & Sanitation,Reeves PLC,R49 748 910,R51 712 170,Y,Y,Completed,Delayed,3,Y,R1 963 260
1,C0002,Electricity,Clark-Cruz,R48 240 618,R45 031 818,Y,Y,Planning,Cancelled,2,Y,R0
2,C0003,Water & Sanitation,"Sherman, Freeman and Tyler",R41 059 284,R46 519 226,N,Y,Completed,Cancelled,2,Y,R5 459 942
3,C0004,Water & Sanitation,"Lee, Roberts and Lee",R49 618 868,R51 834 909,Y,N,Execution,On track,3,Y,R2 216 041
4,C0005,Water & Sanitation,Harris Inc,R39 397 498,R33 716 282,N,Y,Planning,On track,0,N,R0

In [11]:
Contracts.dtypes
# Shows me the data types of the contracts table

contract_id         object
department          object
vendor              object
approved_budget     object
contract_value      object
deviation_flag      object
mbd_submitted       object
project_phase       object
status              object
risk_score           int64
irregular_flag      object
irregular_amount    object
dtype: object

In [13]:
Contracts['approved_budget'] = (         # References the Contracts table and approved_budget column.
    Contracts['approved_budget']         # References the Contracts table and approved_budget column.
    .str.replace(" ", "", regex = False) # Replaces white spaces with blanks.
    .str.replace("R", "", regex = False) # Replaces the R with a blank space.
)                                        # Closes the loop.

In [15]:
Contracts['approved_budget'] = Contracts['approved_budget'].astype('Float64')
# Changes the data type of the approved_budget colunm to a Float64.

In [16]:
Contracts.dtypes
# Shows me the data types of the contracts table.

contract_id          object
department           object
vendor               object
approved_budget     Float64
contract_value       object
deviation_flag       object
mbd_submitted        object
project_phase        object
status               object
risk_score            int64
irregular_flag       object
irregular_amount     object
dtype: object

In [17]:
Contracts['contract_value'] = (          # References the Contracts table and contract_value column.
    Contracts['contract_value']          # References the Contracts table and contract_value column.
    .str.replace(" ", "", regex = False) # Replaces white spaces with blanks.
    .str.replace("R", "", regex = False) # Replaces the R with a blank space.
)                                        # Closes the loop.

In [18]:
Contracts['contract_value'] = Contracts['contract_value'].astype('Float64')
# Changes the data type of the contract_value colunm to a Float64.

In [19]:
Contracts['irregular_amount'] = (        # References the Contracts table and contract_value column.
    Contracts['irregular_amount']        # References the Contracts table and contract_value column.
    .str.replace(" ", "", regex = False) # Replaces white spaces with blanks.
    .str.replace("R", "", regex = False) # Replaces the R with a blank space.
)                                        # Closes the loop.

In [20]:
Contracts['irregular_amount'] = Contracts['irregular_amount'].astype('Float64')
# Changes the data type of the irregular_amount colunm to a Float64.

In [21]:
Contracts.dtypes
# Shows me the data types of the contracts table.

contract_id          object
department           object
vendor               object
approved_budget     Float64
contract_value      Float64
deviation_flag       object
mbd_submitted        object
project_phase        object
status               object
risk_score            int64
irregular_flag       object
irregular_amount    Float64
dtype: object

In [22]:
Contracts.head()
# Shows me the first 10 rows of the Contracts table.

,contract_id,department,vendor,approved_budget,contract_value,deviation_flag,mbd_submitted,project_phase,status,risk_score,irregular_flag,irregular_amount
0,C0001,Water & Sanitation,Reeves PLC,49748910.0,51712170.0,Y,Y,Completed,Delayed,3,Y,1963260.0
1,C0002,Electricity,Clark-Cruz,48240618.0,45031818.0,Y,Y,Planning,Cancelled,2,Y,0.0
2,C0003,Water & Sanitation,"Sherman, Freeman and Tyler",41059284.0,46519226.0,N,Y,Completed,Cancelled,2,Y,5459942.0
3,C0004,Water & Sanitation,"Lee, Roberts and Lee",49618868.0,51834909.0,Y,N,Execution,On track,3,Y,2216041.0
4,C0005,Water & Sanitation,Harris Inc,39397498.0,33716282.0,N,Y,Planning,On track,0,N,0.0

In [23]:
bool_cols = ["deviation_flag", "mbd_submitted", "irregular_flag"]
# Groups the deviation_flag, mbd_submitted, and irregular_flag columns into the bool_cols group

Contracts[bool_cols] = Contracts[bool_cols].replace({"Y": True, "N": False})
# Replaces all Y and N values with True and False values in the previously grouped values.
# Pandas then automatically converts those columns into the Boolean data type as all values within them are True/False.

C:\Users\Student\AppData\Local\Temp\ipykernel_12508\2939528006.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Contracts[bool_cols] = Contracts[bool_cols].replace({"Y": True, "N": False})

In [24]:
Contracts.dtypes
# Shows me the data types of the contracts table.

contract_id          object
department           object
vendor               object
approved_budget     Float64
contract_value      Float64
deviation_flag         bool
mbd_submitted          bool
project_phase        object
status               object
risk_score            int64
irregular_flag         bool
irregular_amount    Float64
dtype: object

In [29]:
over_budget = Contracts[Contracts['irregular_amount'] > 0]
# Filters all over-budget contracts and stores them in the over_budget data frame.

In [31]:
over_budget.head()
# Shows me the first 10 rows of the over_budget table.

,contract_id,department,vendor,approved_budget,contract_value,deviation_flag,mbd_submitted,project_phase,status,risk_score,irregular_flag,irregular_amount
0,C0001,Water & Sanitation,Reeves PLC,49748910.0,51712170.0,True,True,Completed,Delayed,3,True,1963260.0
2,C0003,Water & Sanitation,"Sherman, Freeman and Tyler",41059284.0,46519226.0,False,True,Completed,Cancelled,2,True,5459942.0
3,C0004,Water & Sanitation,"Lee, Roberts and Lee",49618868.0,51834909.0,True,False,Execution,On track,3,True,2216041.0
5,C0006,Waste Management,"Chavez, Reed and Cox",12748637.0,21605227.0,False,True,Planning,Cancelled,2,True,8856590.0
8,C0009,Waste Management,"Long, Haney and Perry",11492366.0,11998014.0,False,True,Planning,On track,1,True,505648.0

In [32]:
bad_deviations = Contracts[(Contracts['deviation_flag']) & (~Contracts['mbd_submitted'])]
# Filters the contracts with deviation flags and where the mbds were not submitted into the bad_deviations data frame.

In [33]:
bad_deviations.head()
# Shows me the first 10 rows of the bad_deviations table.

,contract_id,department,vendor,approved_budget,contract_value,deviation_flag,mbd_submitted,project_phase,status,risk_score,irregular_flag,irregular_amount
3,C0004,Water & Sanitation,"Lee, Roberts and Lee",49618868.0,51834909.0,True,False,Execution,On track,3,True,2216041.0
20,C0021,Electricity,"Cunningham, Fisher and Smith",32474990.0,26310186.0,True,False,Execution,Cancelled,3,True,0.0
66,C0067,Water & Sanitation,"Sherman, Freeman and Tyler",6419707.0,5779946.0,True,False,Completed,Cancelled,3,True,0.0
78,C0079,Waste Management,"Cunningham, Fisher and Smith",34145504.0,39681864.0,True,False,Completed,Delayed,4,True,5536360.0
109,C0110,Water & Sanitation,Miller PLC,19957417.0,22879692.0,True,False,Planning,Cancelled,4,True,2922275.0

In [36]:
anomalies = (                                                  # Create a new DataFrame called anomalies.
    Contracts[                                                 # Reference the Contracts table.
        (Contracts['ProjectPhase'] == 'Completed')             # Filter: only rows where ProjectPhase = Completed.
        & (Contracts['Status'].isin(['On Track', 'Delayed']))  # AND Status is either On Track or Delayed.
    ]                                                          # Close the filter.
)                                                              # Close the loop.

In [37]:
anomalies.head()
# Shows me the first 10 rows of the anomolies table.

,contract_id,department,vendor,approved_budget,contract_value,deviation_flag,mbd_submitted,project_phase,status,risk_score,irregular_flag,irregular_amount
0,C0001,Water & Sanitation,Reeves PLC,49748910.0,51712170.0,True,True,Completed,Delayed,3,True,1963260.0
24,C0025,Waste Management,Clark-Cruz,14743995.0,12895511.0,False,True,Completed,Delayed,1,False,0.0
28,C0029,Housing,Contreras and Sons,41978167.0,39009520.0,False,True,Completed,Delayed,1,False,0.0
31,C0032,Waste Management,Moyer-Robinson,11606305.0,9438482.0,False,True,Completed,Delayed,1,False,0.0
38,C0039,Water & Sanitation,"Sherman, Freeman and Tyler",16485802.0,13936922.0,False,True,Completed,Delayed,1,False,0.0

In [38]:
bad_contracts = (
    pd.concat([over_budget, bad_deviations, anomalies])  # Stack all DataFrames together
    .drop_duplicates()                                   # Remove duplicate contracts
    .reset_index(drop=True)                              # Reset index for a clean table
)
# Combine all flagged subsets into one master table.

In [39]:
bad_contracts.head()
# Shows the first 10 rows of the bad_contracts table.

,contract_id,department,vendor,approved_budget,contract_value,deviation_flag,mbd_submitted,project_phase,status,risk_score,irregular_flag,irregular_amount
0,C0001,Water & Sanitation,Reeves PLC,49748910.0,51712170.0,True,True,Completed,Delayed,3,True,1963260.0
1,C0003,Water & Sanitation,"Sherman, Freeman and Tyler",41059284.0,46519226.0,False,True,Completed,Cancelled,2,True,5459942.0
2,C0004,Water & Sanitation,"Lee, Roberts and Lee",49618868.0,51834909.0,True,False,Execution,On track,3,True,2216041.0
3,C0006,Waste Management,"Chavez, Reed and Cox",12748637.0,21605227.0,False,True,Planning,Cancelled,2,True,8856590.0
4,C0009,Waste Management,"Long, Haney and Perry",11492366.0,11998014.0,False,True,Planning,On track,1,True,505648.0

In [43]:
good_contracts = (
    Contracts[~Contracts['contract_id'].isin(bad_contracts['contract_id'])]  # Keep only contracts NOT in bad_contracts
    .reset_index(drop=True)                                                # Reset index for neatness
)
# Creates good_contracts table by excluding bad contracts

In [44]:
good_contracts.head()
# Shows the first 10 rows of the good_contracts table.

,contract_id,department,vendor,approved_budget,contract_value,deviation_flag,mbd_submitted,project_phase,status,risk_score,irregular_flag,irregular_amount
0,C0002,Electricity,Clark-Cruz,48240618.0,45031818.0,True,True,Planning,Cancelled,2,True,0.0
1,C0005,Water & Sanitation,Harris Inc,39397498.0,33716282.0,False,True,Planning,On track,0,False,0.0
2,C0007,Electricity,Guzman-Miller,2528388.0,2195170.0,True,True,Completed,Cancelled,2,True,0.0
3,C0008,Waste Management,Gonzalez PLC,3485357.0,3212960.0,True,True,Planning,Delayed,2,True,0.0
4,C0015,Water & Sanitation,Jimenez-Roberts,22957742.0,18509784.0,False,True,Execution,Cancelled,1,False,0.0

# 4. Export Cleaned Data for Power BI

In [45]:
Contracts.to_excel("Cleaned_Municipal_Contracts.xlsx", index=False)
bad_contracts.to_excel("Bad_Contracts.xlsx", index=False)
good_contracts.to_excel("Good_Contracts.xlsx", index=False)
# Exports the various tables as excel documents.